.content{
  max-width: 1000px;
  margin-top: 20px;
}

.profile-container{
  width: 300px;
  color: #657786;
  margin-right: 10px;
  max-width: 300px;
}

.navbar{
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.img-fluid{
  object-fit: cover;
  width: 100px;
  height: 100px;
}

body{
  background-color: #f8f9fa;
}

.tweet-element{
  border-radius: 0;
  font-size: 14px;
  border: 0;
  border-top: 1px solid #dddddd;
}

.tweet-element:first-child{
  border-top: 0;
}

.btn-tweet{
  border-radius: 30px;
}

.b{
  border: 1px solid red;
}

.b1{
  border: 1px solid green;
}